

canvas#simscreen2 {
  position: absolute;
  left: 30px;
  top: 250px;
  height: 400px;
  width: 550px;
}

canvas#simscreen {
  position: absolute;
  left: 3px;
  top: 86px;
  height: 414px;
  width: 575px;
}
div#commentboxleft {
  position: absolute;
  left: 18px;
  top: 501px;
  height: 65px;
  width: 285px;
  text-align: left;
  font-size: 16px;
  font-family: "Nunito", sans-serif;
}

div#commentboxright {
  position: absolute;
  left: 605px;
  top: 501px;
  height: 65px;
  width: 285px;
  text-align: right;
  font-size: 16px;
  font-family: "Nunito", sans-serif;
}


.variable {
  position: relative;
  left: 12px;
  padding-top: 10px;
  width: 150px;
}
.varname {
  position: relative;
  font-size: 1.6rem;
  display: inline;
}

.varname p {
  position: relative;
  top: 1px;
  padding: 0;
  font-family: sans-serif;
  font-size: 1.1em;
  display: inline;
} 

.usercheck {
  position: relative;
  left: 40px;
  top: 10px;
  padding-top: 15px;
  height: 20px;
  width: 125px;
}
.usercheck p {
  position: relative;
  margin: 0;
  font-size: 12px;
  vertical-align: middle;
  display: inline-block;
}
.usercheck input {
  position: relative;
  top: 2px;
  margin: 0;
}
.usercheck #resetparams {
  position: relative;
  left: 38px;
  margin-top: 3px;
}

#quickreficon {
  background-image: url("../images/quickreficon.png");
  position: absolute;
  left: 564px;
  top: 471px;
  height: 24px;
  width: 24px;
  border: double;
}
#legendicon {
  background-image: url("../images/legendicon.png");
  position: absolute;
  left: 564px;
  top: 471px;
  height: 24px;
  width: 24px;
  border: double;
}
#quickref {
  position: absolute;
  left: 600px;
  top: 225px;
  height: 100px;
  width: 0px;
  border: solid 0px;
  z-index: 99;
  overflow: hidden;
}
#legend {
  position: absolute;
  left: 300px;
  top: 95px;
  height: 0px;
  width: 100px;
  border: solid 0px;
  z-index: 100;
  overflow: hidden;
}

.datatable {
  width: 140px;
  font-size: 1.6rem;
  text-align: center;
}

#datatable1{
  left: 600px;
  top: 50px;
}
.datatable table {
  border: 1px solid #000011;
  border-collapse: collapse;
  width: 120px;
}
.datatable th {
  border: 1px solid #000011;
  width: 52px;
}
.datatable td {
  border: 1px solid #000011;
  width: 52px;
}
.datatable p {
  position: relative;
  font-size: 12px;
  left: -10px;
}

#titleincanvas {
  position: absolute;
  left: 250px;
  top: 100px;
}
#variables{
  width: 200%;
}

