/* rem and em don not depend on html font size in media queries, Instead 1rem = 1em = 16px
rem: root font size
em:current font size
*/

/* *************only screen******* */

/* **************************** */
/* Below 1344px (Smaller Desktops) */
/* **************************** */

@media (min-width: 1200px) {
  .datatable {
    width: 140px;
    font-size: 16px;
    text-align: center;
  }

  #datatable1 {
    left: 451px;
    top: 100px;
    font-weight: normal;
  }
  div#commentboxleft {
    left: 18px;
    top: 501px;
    height: 65px;
    width: 285px;
    font-size: 16px;
    font-weight: normal;
  }
  div#commentboxright {
    left: 347px;
    top: 501px;
    height: 65px;
    width: 285px;
    font-size: 16px;
    font-weight: normal;
  }
  #variables {
    width: 201%;
  }
  #titleincanvas {
    position: absolute;
    left: 249px;
    top: 60px;
  }
}

/* **************************** */
/* Below 1200px (Lanscape Tablets) */
/* **************************** */

@media (max-width: 75em) {
  body {
    width: 100%;
    margin: unset;
  }
  .title-div h1 {
    font-size: 2.5rem;
  }
  .task-title {
    font-size: 2rem;
  }
  .tool-menu {
    font-size: 2rem;
    gap: 2rem;
  }
  .icons {
    width: 3rem;
    height: 3rem;
  }
  .ctrl-icons {
    width: 3rem;
    height: 3rem;
  }
  .tool-list span {
    font-size: 1.2rem;
  }
  .canvas {
    display: block;
    width: 100%;
    height: 100%;
  }
  .div__control img {
    width: 3rem;
    height: 2.8rem;
  }
  .datatable {
    width: 140px;
    font-size: 16px;
    text-align: center;
  }
  #titleincanvas {
    position: absolute;
    left: 380px;
    top: 56px;
  }

  #datatable1 {
    left: 650px;
    top: 100px;
    font-weight: normal;
  }
  div#commentboxleft {
    left: 18px;
    top: 501px;
    height: 65px;
    width: 285px;
    font-size: 16px;
    font-weight: normal;
  }
  div#commentboxright {
    left: 515px;
    top: 501px;
    height: 65px;
    width: 285px;
    font-size: 16px;
    font-weight: normal;
  }
  #variables {
    width: 201%;
  }
}

/* **************************** */
/* Below 944px ( Tablets) */
/* **************************** */

@media (max-width: 59em) {
  .tool-link:link,
  .tool-link:visited {
    gap: 0.5rem;
    font-size: 1.4rem;
    flex-direction: column;
  }
  #titleincanvas {
    position: absolute;
    left: 289px;
    top: 53px;
  }

  .title-div h1 {
    font-size: 2rem;
  }

  .main__task-div {
    height: auto;
  }

  .sidebar {
    position: fixed;
    padding: 0;
    bottom: 0;
    left: 0;
    flex-direction: row;
    width: 100%;
    backdrop-filter: blur(10rem);
    z-index: 101;
    justify-content: space-evenly;
    border-radius: 0;
    scroll-behavior: smooth;
  }
  .tool-menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    width: 100%;
    font-size: 2.4rem;
    justify-content: space-evenly;
    padding: 1rem;
  }
  .main-section {
    grid-template-columns: 1fr;
  }
  .logo-div {
    width: 6.5rem;
  }
  .icons {
    width: 3rem;
    height: 3rem;
  }
  .tool-list span {
    font-size: 1rem;
  }
  .main__task-div:nth-child(4) {
    margin-bottom: 6rem;
  }
  .canvas {
    display: block;
    width: 100%;
    height: 100%;
  }
  .main-section {
    grid-template-columns: 1fr;
  }
  .canvas__div {
    grid-template-columns: 1fr;
  }
  .canvas {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    border-top: 1px solid rgba(177, 176, 176, 0.855);
  }
  #datatable1 {
    left: 601px;
    top: 100px;
    font-weight: normal;
  }
  div#commentboxleft {
    left: 18px;
    top: 501px;
    height: 65px;
    width: 285px;
    font-size: 16px;
    font-weight: normal;
  }
  div#commentboxright {
    left: 464px;
    top: 501px;
    height: 65px;
    width: 285px;
    font-size: 16px;
    font-weight: normal;
  }
  #variables {
    width: 100%;
  }
  p {
    margin-bottom: 65px;
  }
}

/* **************************** */
/* Below 820px (Smaller Tablets) */
/* **************************** */
@media (max-width: 48em) {
  .main-section {
    grid-template-columns: 1fr;
  }
  .canvas__div {
    grid-template-columns: 1fr;
  }
  .canvas {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    border-top: 1px solid rgba(177, 176, 176, 0.855);
  }
  .tool-list span {
    font-size: 1.6rem;
  }
  #datatable1 {
    left: 459px;
    top: 100px;
    font-weight: normal;
  }
  div#commentboxleft {
    left: 18px;
    top: 501px;
    height: 65px;
    width: 285px;
    font-size: 16px;
    font-weight: normal;
  }
  div#commentboxright {
    left: 335px;
    top: 501px;
    height: 65px;
    width: 285px;
    font-size: 16px;
    font-weight: normal;
  }
  #variables {
    width: 100%;
  }
  p {
    margin-bottom: 70px;
  }
}

/* **************************** */
/* Below 704px (Smaller Tablets) */
/* **************************** */
@media (max-width: 40em) {
  .canvas__div {
    grid-template-columns: 1fr;
  }
  .img-div {
    flex-direction: column;
  }
  .title-div {
    gap: 0rem;
    text-align: center;
  }
  .round {
    width: 0.6rem;
    height: 0.6rem;
  }

  .logo-div {
    width: 6.5rem;
  }
  .main__task-div:nth-child(4) {
    margin-bottom: 6rem;
  }
  .circuit-dia {
    width: 40%;
  }
  .cross-img {
    width: 60%;
  }
  .canvas {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    border-top: 1px solid rgba(177, 176, 176, 0.855);
  }
  #datatable1 {
    left: 368px;
    top: 100px;
    font-weight: normal;
  }
  div#commentboxleft {
    left: 18px;
    top: 501px;
    height: 65px;
    width: 285px;
    font-size: 16px;
    font-weight: normal;
  }
  div#commentboxright {
    left: 227px;
    top: 501px;
    height: 65px;
    width: 285px;
    font-size: 16px;
    font-weight: normal;
  }
  #titleincanvas {
    position: absolute;
    left: 227px;
    top: 52px;
  }
  p {
    margin-bottom: 70px;
  }
}

/* **************************** */
/* Below 540px (Smaller Tablets) */
/* **************************** */
@media (max-width: 34em) {
  .container {
    /* padding: 0.5rem; */
    gap: 1rem;
  }

  .logo-div {
    width: 4rem;
  }

  .title-div h1 {
    font-size: 1.6rem;
  }
  .logo-div {
    width: 4.5rem;
  }
  .div__control {
    gap: 2rem;
  }
  .ctrl-icons {
    width: 2.5rem;
    height: 2.5rem;
  }

  .tool-menu {
    gap: 1.5rem;
  }

  .tool-list span {
    font-size: 1.2rem;
  }
  .task-title {
    font-size: 1.7rem;
  }

  .main {
    gap: 0.5rem;
  }
  .main-section {
    gap: 0.5rem;
  }
  .sidebar {
    border-radius: 0;
  }
  .canvas {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    border-top: 1px solid rgba(177, 176, 176, 0.855);
  }
  .div__control img {
    width: 2.7rem;
    height: 2.5rem;
  }
  .tooltip {
    font-size: 1rem;
  }

  #canvas-container {
    width: 100%;
    height: 83rem;
  }
  .datatable {
    width: 140px;
    font-size: 1.6rem;
    text-align: center;
    font-weight: normal;
  }

  #datatable1 {
    left: 93px;
    top: 465px;
    font-weight: normal;
  }
  div#commentboxleft {
    left: 6px;
    top: 757px;
    text-align: center;

    font-family: "Nunito", sans-serif;
    font-weight: normal;
  }
  div#commentboxright {
    left: 7px;
    top: 806px;
    text-align: center;

    font-family: "Nunito", sans-serif;
    font-weight: normal;
  }
  label,
  select,
  input,
  p {
    display: inline-block;
    font-size: 1.5rem;
  }
  p {
    margin-bottom: 60px;
  }
  #titleincanvas {
    position: absolute;
    left: 68px;
    top: 53px;
  }
}
/* 

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

 */
